

    <div class="sidenav">


        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>

        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        <a href="#" class="active">Home</a>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
