@{
    ViewBag.Title = "Home Page";
}
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">*@


<style>
    body {
        /*background-image:url('@Url.Content("~/Images/itil.jpg")');*/
        margin: 0;
        }
    .vl {
        margin-left:16px;
        margin-right:16px;
        margin-top:40px;
        border-left: 2px solid grey;
        height: 500px;
    }
</style>


<table align="center">
    <tr>
        <td>
            <p style="width: 25em; font-size:larger">
                <b>IT Service Management (ITSM)</b> is the most widely followed paradigm for managing IT resources. Why do these organizations implement ITSM? Through a process-oriented approach, ITSM empowers IT teams to take a more structured approach to service management, increase transparency and accountability of the IT organization, and implement new functions that drive customer satisfaction. ITSM tools are also enabling the next generation of automated technologies that will help IT organizations drive digital transformation and accelerate their services like never before.

                In today's rapidly evolving technological landscape, it's more important than ever that IT organizations implement ITSM as a means of better aligning themselves with business needs and <b>providing exceptional service delivery at a low cost</b>. In this blog post, we're providing our top five reasons why your organization should implement ITSM now.
            </p>

        </td>
        <td>
            <div class="vl"></div>
        </td>
        <td>
            <table>

                <tr>
               
                    <td>
                        @Html.Partial("LoginPartial");
                    </td>
                </tr>

            </table>
        </td>
    </tr>

</table>

