

<div class="centerText">
    <table>
        <tr>
            <td>
                <h1>@ViewBag.success</h1>
            </td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td align="center">
                @Html.ActionLink("Go back to login", "Index", "Home")
            </td>
        </tr>

    </table>
</div>